
.body{
    background-color: rgb(34, 31, 31);
}
.header{
  padding: ;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}
.nav-title{
  color: #E6533C;  
}
.nav-name{
    border-radius: 20px;
    padding: 2px;
    background-color: #E6533C;
    font-size: 14px;
    font-weight: normal;
}
.another{
    font-size:12px ;
}
nav ul{
    display: flex;
}
nav ul li {
  list-style: none;
  margin-right: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
}
.banner{
    display: flex;
    gap:45px;
    padding-bottom: 20px;
    margin: 0 40px;
}
.title-color{
    font-size: 40px;
    color: #ffffff;
}
.title-color2{
    font-size: 40px;
    color: #ffffff;
    font-style: italic;
    font-weight: 300;
}
.header-description{
    font-size: small;
    color: #938585;
}
.img{
    width: 150px;
    height: 380;
    margin-left: 40px;

}
.img-btn{
    display: flex;
    gap:50px;
}
.btn-class{
    display: flex;
    gap:40px
}
.btn-left{
    width: 100px;
    height: 40px;
    background-color: #433a3aeb;
    border-radius: 15px;
    border: none;
    font-size: 10px;
    color: #ffffff;
    margin-top: -100px;
}
.btn-right{
    width: 100px;
    height: 40px;
    background-color: #433a3aeb;
    border-radius: 15px;
    border: none;
    font-size: 10px;
    color: #ffffff;
    margin-top: -200px;
}

.btn-1{
    background-color: #E6533C;
    border-radius: 20px;
    padding: 7px;
    border: none;
    color: #ffffff;
}
.btn-2{
    background-color: rgb(34, 31, 31);
    color: #ffffff;
    padding: 7px;
    border-radius: 20px;
    border: 1px solid white;
    margin-left: 10px;
}
/* main section start */
.main{
    margin: 0 40px;
}
.section{
    padding: 30px 0;
}
.main-tag{
    text-align: center;
   
    

}
.main-headline{
    font-size: 40px;
    color: #ffffff;
   
}
.main-description{
    font-size: small;
    color: #938585;
   
}
.main-section{
    display: flex;

}
.main-image{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    padding-top: 20px;
}
.main-h3{
    font-size: 16px;
    color: #ffffff;
}
.main-description{
    font-size: small;
    color: #938585;  
}
.section-middle{
    display: flex;
    justify-content: space-between;
    background-color: #393131;
    padding:20px;
    border-radius: 10px;
    gap:40px;
}
.img-middle{
    width: 150px;
    height: 150px;
}
.middle-title{
    padding-right: 40px;
}
.middle-header{
    font-size: 20px;
    color: #ffffff;  
}
.middle-description{
    font-size: small;
    color: #938585;  
}

@media screen and (max-width: 500px) {
   .banner{
    display: grid;
    grid-template-columns: repeat(1fr);
   }
   nav{
    flex-direction: column;
   }
   nav ul{
    flex-direction: column;
  }
  .main-section{
    flex-direction: column;

  }
  .section-middle{
    flex-direction: column;
  }
};